body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: lightgray;
}


nav ol {
    padding: 0;
}

nav a {

    color: black;

}


h1 {
    color: darkblue;
}


th,
td {
    padding: 10px;
    text-align: left;
}


footer {
    background-color: gray;
    text-align: center;
    padding: 20px;
}